@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hellooo There!</h1>
    <p></a>Congrats! You have configured and started the ASP.NET application successfully.</p>
</div>
